/* h1 {
  color: brown;
}

li {
  color: chocolate;
}

h3 {
  color: indigo;
} */


/* Hex */
/* h1 {
  color: #ffff00;
} */


/* RGB */
/* h1 {
  color: rgb(69, 100, 100);
} */

h1 {
  color: rgba(111, 199, 150, .9);
  /* border-color: purple;
  border-width: 2px;
  border-style: solid; */

  border: dashed 2px purple;
}

h4 {
  background: rgb(255, 100, 80);
}

body {
  background: lightskyblue;
  /* background: url(http://a.rgbimg.com/users/x/xy/xymonau/300/oVMRq8i.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}